## The Problem
Our overall goal is to build classifier models to predict price_gt_1M using the the other variables. You must use sklearn Pipelines that contain your preprocessing steps and your model estimation step. We did this in the class notes.

You should do your work in a Jupyter Notebook.

In [54]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [55]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import Image
import sweetviz

In [56]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.dummy import DummyClassifier
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV

In [57]:
%matplotlib inline

## Task 3 - EDA

I suggest you start by reading the csv file into a pandas dataframe. I called my dataframe, `housing_df`.
Then start with some basic EDA. You can certainly use automated tools such as pandas-profiling, skimpy or SweetViz as I showed in the class notes. Remember, when you run some of those tools, you **must** have your notebook open in the classic Jupyter Notebook interface (and **NOT** in Jupyter Lab) Check their docs to see if Jupyter Lab is supported yet. I pip installed SweetViz and it seems to be working fine now with Jupyter Lab. As we've seen, the reports get created as HTML documents. These should go in your output folder within your project.

In [58]:
housing_df = pd.read_csv('../data/kc_house_data_classification.csv')
housing_df

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_gt_1M
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,0
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,0
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,0
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,0
21609,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,0
21610,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,0
21611,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,0
21612,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,0

In [59]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   bedrooms       21613 non-null  int64
 1   bathrooms      21613 non-null  float64
 2   sqft_living    21613 non-null  int64
 3   sqft_lot       21613 non-null  int64
 4   floors         21613 non-null  float64
 5   waterfront     21613 non-null  int64
 6   view           21613 non-null  int64
 7   condition      21613 non-null  int64
 8   grade          21613 non-null  int64
 9   sqft_above     21613 non-null  int64
 10  sqft_basement  21613 non-null  int64
 11  yr_built       21613 non-null  int64
 12  yr_renovated   21613 non-null  int64
 13  zipcode        21613 non-null  int64
 14  lat            21613 non-null  float64
 15  long           21613 non-null  float64
 16  sqft_living15  21613 non-null  int64
 17  sqft_lot15     21613 non-null  int64
 18  price_gt_1M    21613 non-null  int64
dtypes: float64(4), int64(15)
memory usage: 3.1 MB

Now let's look at some automated EDA with the SweetViz package

In [60]:
report = sweetviz.analyze(housing_df)
report.show_html("../output/sweetviz_report.html")

                                             |                                                                …

Report ../output/sweetviz_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

To resolve the issues with the sweetviz package, I had to install ipywidgets. It still was showing a "Error displaying widget: model not found." According to this [Kaggle post](https://www.kaggle.com/product-feedback/264276), the magic solution is to just restart the jupyter lab session. That fixed my problem.

The SweetViz output provides additional insights. There are significantly fewer houses before 1950, which makes sense due to building decay. However, there is a surprising dip in construction between 1980 and 1990. Only 5% of houses have recorded renovations. The zero insertions may make this variable problematic. 

The results revealed additional categorical variables. A full list is below:
* Waterfront
* View
* Condition
* Zip Code
* Target Variables: Price over 1M

According to the SweetViz output, only 7% of the houses in the data have a price greater than $1 million. The associations table shows square footage, square footage above ground, grade, bathrooms, and bedrooms have the strongest association with the target variables. Some of these features clearly have multicollinearity issues that we will need to watch for when modeling.

These are just some of the interesting and important insights. The [SweetViz output file](../output/sweetviz_report.html) can provide additional detail.

## Task 4 - Categorize feature types

As we did in the Pump it Up class notes, we are going to need to create a list of categorical variables and a list of numeric variables so that we
can apply the appropriate pre-processing to each. In the notes we used the data type of the columns to create lists of numeric and categorical variables. That's not necessarily going to work here as all the variables will come in as numeric. So, you'll have to come up with another way to create lists of the categorical variables and the numeric variables. 

Since we are using regularization, all of the numeric variables will need to rescaled using the `StandardScaler`. You'll do this later as part of the `Pipeline`. For any variables that you decide should be treated as categorical in your models, use the `OneHotEncoder` on them in the preprocessing stage.

Be careful, just because a variable has a numeric datatype in the pandas dataframe, it does **not** mean that it's necessarily a numeric variable in the context of the classification models. Think about each column and look at your EDA reports and decide whether or not it's truly numeric or needs to be treated as categorical data in the models.  

Even though our target variable, `price_gt_1M`, is categorical, you do **NOT** need to do any preprocessing on it. As I mentioned in our class notes, scikit-learn will automatically detect that and will do any encoding needed on its own.

Finally, you'll partition the dataset into training and test datasets for modeling: 

* I broke up the `housing_df` into two separate dataframes that I called `X` and `y`, to use in the models. Here's my code for that:

```
X = housing_df.iloc[:, 0:18]
y = housing_df.iloc[:, 18]
```

* Please use the following code for your data partitioning so that we all end up with the same training and test split:

```
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=73)
```

In [61]:
all_names = housing_df.columns.tolist()
all_names

['bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15',
 'price_gt_1M']

In [62]:
#Change varaibles to categorical
cat_vars_names = ['waterfront', 'view', 'condition', 'zipcode']
for x in cat_vars_names:
    housing_df[x] = housing_df[x].astype("category")
    
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   bedrooms       21613 non-null  int64
 1   bathrooms      21613 non-null  float64
 2   sqft_living    21613 non-null  int64
 3   sqft_lot       21613 non-null  int64
 4   floors         21613 non-null  float64
 5   waterfront     21613 non-null  category
 6   view           21613 non-null  category
 7   condition      21613 non-null  category
 8   grade          21613 non-null  int64
 9   sqft_above     21613 non-null  int64
 10  sqft_basement  21613 non-null  int64
 11  yr_built       21613 non-null  int64
 12  yr_renovated   21613 non-null  int64
 13  zipcode        21613 non-null  category
 14  lat            21613 non-null  float64
 15  long           21613 non-null  float64
 16  sqft_living15  21613 non-null  int64
 17  sqft_lot15     21613 non-null  int64
 18  price_gt_1M    21613 non-null  int64
dtypes: category(4), float64(4), int64(11)
memory usage: 2.6 MB

I also considered changing bedrooms, bathrooms, floors, year built and year renovated to categorical variables because fractional values make less sense for these values. However, I ultimately decided against it. This could be an area for further investigation.

In [63]:
#Creating testing and training vectors
X = housing_df.iloc[:, 0:18]
y = housing_df.iloc[:, 18]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=73)

### Create lists of categorical and numerical variables

In [64]:
#Create a list of numeric and categorical variable names
cat_vars = X_train.select_dtypes(include = ['category']).columns.tolist()
num_vars = X_train.select_dtypes(include = ['number']).columns.tolist()

In [65]:
cat_vars

['waterfront', 'view', 'condition', 'zipcode']

In [66]:
num_vars

['bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15']

In [67]:
cat_vars_idx = [X_train.columns.get_loc(c) for c in cat_vars]
num_vars_idx = [X_train.columns.get_loc(c) for c in num_vars]

### Normalize and recode the variables

In [68]:
# Initialize the transformers
num_transformer = StandardScaler()
cat_transformer = OneHotEncoder(handle_unknown='ignore')

# Combine transformers into a preprocessor step
preprocessor = ColumnTransformer(
    transformers=[
        ('num', num_transformer, num_vars),
        ('cat', cat_transformer, cat_vars)])

## Task 5 - Logistic regression models

You are going to build a few different logistic regression models using all of the variables in our housing dataset. For each of these models you will:

- Create a pipeline to do the preprocessing (the scaling and encoding) and the modeling (we did this in the Pump it Up project)
- I'll be giving you different specifications and hyperparameter parameter settings to try
- You'll be scoring the models on overall accuracy for both the training and test data. Discuss any evidence of overfitting or underfitting as well as how the model does in comparison to the null model.
- There will be some additional tasks/questions for each model - details below

#### Null Model

Since we are just looking at a binary varaible, I can use the 'most frequent' strategy for the `DummyClassifier()` method. However, multiple target levels would require a different selection.

In [73]:
# Create the Model
null_clf = DummyClassifier(strategy="most_frequent")

# Fit the Model
null_clf.fit(X_train, y_train)

# Predict the Model
null_clf.predict(X_test)

#Score the model
print(f'Training model: {null_clf.score(X_train, y_train):.3f}')
print(f'Test model: {null_clf.score(X_test, y_test):.3f}')

Training model: 0.933
Test model: 0.924

### Model 1

Build a ridge regression model to predict `price_gt_1M` and use the default value of `C=1.0`. I used the following additional options with the `LogisticRegression` model - `solver='saga', max_iter=2000`. Feel free to change these if you want. AFter fitting the model, compute its accuracy score for training and test and write out a little summary (f-strings are useful). Here's an example:

    Training score: 0.974
    Test score: 0.971

Create confusion matrices for both training and test.

Also, create a plot of the coefficients (as we did in the notes). If you want to use that `coef_plot` function we used in the notes, you'll have
to make a few modifications because we only have one set of coefficients (since we have a binary classification problem as opposed to a 3-class problem in Pump it Up).

In [ ]:
# Create the Model
clf2 = LogisticRegression(penalty='l2', C=1.0, solver='saga', max_iter=2000)

#Normalization
clf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('classifier', model1_clf)])

# Fit the Model
model1_clf.fit(X_train, y_train)

# Predict the Model
model1_clf.predict(X_test)

#Score the model
print(f'Training model: {model1_clf.score(X_train, y_train):.3f}')
print(f'Test model: {model1_clf.score(X_test, y_test):.3f}')

In [ ]:
>>> dummy_clf = DummyClassifier(strategy="most_frequent")
>>> dummy_clf.fit(X, y)
DummyClassifier(strategy='most_frequent')
>>> dummy_clf.predict(X)
array([1, 1, 1, 1])
>>> dummy_clf.score(X, y)


# Classifier model
null_clf_model = DummyClassifier(strategy="most_frequent")

null

clf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('classifier', null_clf_model)])

LogisticRegression(penalty='l2', C=1, solver='saga', max_iter=500)

# Append classifier to preprocessing pipeline.
# Now we have a full prediction pipeline.
clf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('classifier', null_clf_model)])

#Create confusion matrix
titles_options = [("Confusion matrix for null model", None),
                  ("Normalized confusion matrix for train", 'true')]

class_names = null_clf['classifier'].classes_

for title, normalize in titles_options:
    disp = ConfusionMatrixDisplay.from_estimator(null_clf, X_train, y_train,
                                 display_labels=class_names,
                                 cmap=plt.cm.Blues,
                                 normalize=normalize)
    disp.ax_.set_title(title)

    print(title)
    print(disp.confusion_matrix)

plt.show()